.main {
  --bg-size: cover;
  --bg-position: center center;
  --padding: 1.5rem;

  background: linear-gradient(
      0deg,
      rgb(11, 16, 34) 0%,
      rgba(11, 16, 34, 0.6) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    var(--panel-background);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  padding: var(--padding);
}

.content {
  padding: var(--padding);
}

:global(.dark) {
  .main {
    background: linear-gradient(to bottom, rgb(0 0 0 / 0), rgb(0 0 0 / 0.9)),
      var(--panel-background);
    background-size: var(--bg-size);
    background-position: var(--bg-position);
  }
}
