.main {
  --swiper-button-width: 3.5rem;
  --swiper-button-gap: 1.5rem;
  --swiper-button-position: calc(
    var(--swiper-button-width) / 2 + var(--swiper-button-gap)
  );

  height: 18rem;

  @screen sm {
    height: 24rem;
  }

  @screen md {
    height: 32rem;
  }

  @screen lg {
    height: 44rem;
  }
}

.next {
  transform: translateX(var(--swiper-button-position));
}

.prev {
  transform: translateX(calc(var(--swiper-button-position) * -1));
}
